.Historical-container {
    width: 400px;
    background: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    border-radius: 10px;
    margin-left: 5px;
    height: 20rem;
    border: 5px solid white;
    text-align: start;
  }
  
  .right-card {
    border-radius: 8px; 
  }