/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #050404; 
  color: white; 
  padding: 0.3rem 1rem;
}

.Galo-Image {
  width: 4rem; 
  height: inherit;
  object-fit: cover;
  border-radius: 5px; 
  vertical-align: bottom;
}


.navbar-heading {
  text-align:start;
  margin-right: 60rem;

}


.logout-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #e74c3c; 
}

.logout-button:hover {
  background-color: #f8d7da; 
} */


/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #050404;
  color: white;
}

.Image-data img {
  width: 50px;
  height: auto;
}

.navbar-heading h1 {
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-heading h1 {
    font-size: 1.2rem;
  }

  .navbar-right {
    margin-top: 10px;
  }
}
