body {
  margin: 0px;
  padding: 0px;
} 


.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #050404;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 3;

}

.Image-data img {
  width: 50px;
  height: auto;
}

.navbar-heading h1 {
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-heading h1 {
    font-size: 1.2rem;
  }

  .navbar-right {
    margin-top: 10px;
  }
}
