.production-container {
  width: 500px;
  background: #f5f4f3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  border-radius: 10px;
  margin-left: 5px;
  height: 20rem;
  border: 5px solid #f5f4f3;
  text-align: start;
  box-shadow: 10px  black;
}

.left-card {
  border-radius: 8px;
}

h4{
  margin-left: 15px;
}

.data{
  width: 100%;
  background: #f1f1f1;
}


.production-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 240, 240);
  
}

.label {
  font-weight:lighter;
  color: #333;
  margin-bottom: 5px;
  line-height: 1.25rem;


 
}

.value {
  text-align: center;
  font-size: 14px;
  color: #000;
}

.totalItem{
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}